@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Successefull</h1>
        Order Number : @Model <br />
    </div>
    <div class="col-12 text-center" style="color:teal">
        <br/>
        Your order has been places uccessfully! <br/>
    </div>
</div>